h1 {
	margin-left: 50px;
}

a {
	margin-left: 15px;
}

.submit {
	margin-left: 15px;
}

.credit-data {
	top: 0;
	width: 30%;
	margin-left: 50px;
	display: inline-block;
	position: relative;
    vertical-align:top;
}

.credit-values {
	top: 0;
	float: right;
	margin-right: 50px;
	width: 60%;
	display: inline-block;
	position: relative;
    vertical-align:top;
}

th, td {
    font-size: 14px;
    padding: 15px;
    text-align: left;
}
.credit-table th, .credit-table td {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 15px;
    text-align: left;
}

table {
	margin-bottom: 30px;
}


@media print
{
	body * { visibility: hidden; }
	#printableArea * { visibility: visible; }
	#printableArea { position: absolute; top: 40px; left: 30px; }
	.credit-values {width: 96%; margin: 0;}
	.credit-data {display: none;}
}


#deferred {
	display: inline !important;
}

select {

      display: inline !important;
}

fieldset {
	border-width: 1px;
	border-color: #ededed;
}